<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  
  <xacro:include filename="$(find ur_description)/urdf/inc/model_common.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/inc/table_common.xacro" />

  <xacro:macro name="ringlight_attach" params="
    prefix
    name
    parent
    *origin
    sim_ignition
    sim_gazebo
    gazebo_preserve_fixed_joint
    physical_parameters_table_file
   ">

  <material name="palegrey" >
    <color rgba="0.9921568627450981 0.9921568627450981 0.996078431372549 1.0" />
  </material>


  <!-- links -->
  <link name="${prefix}${name}_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 ${-table_inertia_z/2}"/>
      <geometry>
        <cylinder radius="${ringlight_inertia_radius}" length="${ringlight_inertia_length}" />
      </geometry>
      <material name="palegrey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 ${-table_inertia_z/2}"/>
      <geometry>
        <cylinder radius="${ringlight_inertia_radius}" length="${ringlight_inertia_length}" />
      </geometry>
    </collision>
    <xacro:cylinder_inertial radius="${ringlight_inertia_radius}" length="${ringlight_inertia_length}" mass="${ringlight_mass}" >
      <origin rpy="0 0 0" xyz="0 0 ${-table_inertia_z/2}"/>
    </xacro:cylinder_inertial>
  </link>

  <xacro:if value="${sim_ignition}">
    <gazebo reference="${prefix}${name}_link">
      <visual>
        <material>
          <ambient>0.8 0.52 0.25 1</ambient>
          <diffuse>0.8 0.52 0.25 1</diffuse>
          <specular>0.8 0.52 0.25 1</specular>
        </material>
      </visual>
    </gazebo>
  </xacro:if>

  <!-- joints -->

  <joint name="${prefix}${name}_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="${prefix}${name}_link"/>
    <!--<origin rpy="0 0 0" xyz="0 0 0"/> -->
    <xacro:insert_block name="origin" />
  </joint>

  <!-- Preserve fixed joint, if desired -->
  <xacro:if value="${gazebo_preserve_fixed_joint}">
    <gazebo reference="${prefix}${name}_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>
  </xacro:if>

    </xacro:macro>
</robot>
