<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e_inhand_camera_mount">
    <!-- Include RealSense D405 camera macro -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d405.urdf.xacro" />
    
    <xacro:macro name="ur3e_inhand_camera_mount" params="parent *origin tf_prefix">
        <!-- UR3e In-hand Camera Mount -->
        <link name="${tf_prefix}ur3e_inhand_camera_mount">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://ur_description/meshes/collision/ur3e_inhand_camera_mount.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="camera_mount_material">
                    <color rgba="0.3 0.3 0.3 1.0"/>
                </material>
            </visual>
            
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://ur_description/meshes/collision/ur3e_inhand_camera_mount.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            
            <inertial>
                <mass value="0.1"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
            </inertial>
        </link>

        <!-- Mount reference frame positioned -31.5mm in x relative to parent -->
        <link name="${tf_prefix}mount_reference">
            
        </link>

        <!-- Original -->
        <!-- <origin xyz="-0.0315 0 0.007" rpy="0 0 0"/> -->

        <!-- <origin xyz="-0.03305 0 0.007 " rpy="0 0 0"/> -->


        <joint name="${tf_prefix}mount_reference_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${tf_prefix}mount_reference"/>
             <origin xyz="-0.03305 0 0.007 " rpy="0 0 0"/>
        </joint>


        <!-- Join the camera mount to the parent link (tool0) -->
        <joint name="${tf_prefix}ur3e_inhand_camera_mount_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${tf_prefix}ur3e_inhand_camera_mount"/>
            <xacro:insert_block name="origin"/>
        </joint>

        <!-- Camera reference frame for potential camera attachment -->
        <link name="${tf_prefix}camera_mount_reference">
            
        </link>
        <joint name="${tf_prefix}camera_mount_reference_joint" type="fixed">
            <parent link="${tf_prefix}mount_reference"/>
            <child link="${tf_prefix}camera_mount_reference"/>
             <origin xyz="0.128610 -0.000620291 0.025456" rpy="0.261826 0.000000 -1.570917"/>
        </joint>

        <!-- Instantiate D405 camera at the camera mount reference -->
        <xacro:sensor_d405 parent="${tf_prefix}camera_mount_reference" name="${tf_prefix}camera" use_nominal_extrinsics="true">
            <origin xyz="0 -0.01825 0.00835" rpy="0 -1.57 -1.57"/>
        </xacro:sensor_d405>

    </xacro:macro>
</robot>
